/* GENERICS */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

/* UTILITIES */
.bg-primary {
  background-color: #eaeaea;
}

/* CONTENT */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.contacts-container {
  background-color: aqua;
  width: 34%;
  height: 100vh;
}

.chat-container {
  background-color: red;
  width: 66%;
  height: 100vh;
}

.avatar {
  width: 50px;
  border-radius: 50%;
}

.user {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}

.user-actions {
  color: #b1b1b1;
}
