/* GENERICS */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

/* UTILITIES */
.bg-primary {
  background-color: #eaeaea;
}

.bg-semiwhite {
  background-color: #fafafa;
}

.p-10px {
  padding: 5px 10px;
}

.p-15px {
  padding: 5px 15px;
}

.flex {
  display: flex;
}

/* CONTENT */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.contacts-container {
  width: 34%;
  height: 100vh;
}

.chat-container {
  background-color: red;
  width: 66%;
  height: 100vh;
}

/* USER INFO */

.avatar {
  width: 50px;
  border-radius: 50%;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-actions {
  color: #b1b1b1;
}

.user-actions i {
  margin-right: 5px;
}

/* NOTIFICATION */
.notifications {
  background-color: #8edafc;
  display: flex;
}

.circle-icon {
  background-color: white;
  border: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  margin-right: 10px;
}

.notification-message a {
  color: black;
}

/* SEARCH CONTACTS */

.search-contacts input {
  font-size: 18px;
}

.contact-item {
  border-bottom: #f6f6f6;
  background-color: white;
}
.contact-item .info {
  display: flex;
  flex-direction: column;
}
